<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>App Landing Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">    
                                        <li><a href="{% url 'home' %}"> Home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li class="active"><a href="{% url 'recommend' %}">Find Your Size</a></li>
                                        <li><a href="{% url 'explore' %}">Explore Data</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>

    <!-- Slider Area Start-->
	<div class="services-area">
		<div class="container">
			<!-- Section-tittle -->
			<div class="row d-flex justify-content-center">
				<div class="col-lg-8">
					<div class="section-tittle text-center mb-80">
						<h2>Find Your Size</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Slider Area End-->

    <div class="whole-wrap">
		<div class="container box_1170">
			<div class="section-top-border">
				<div class="row">
					<div class="col-lg-12">
						<blockquote class="generic-blockquote">
                            Your {{msg}} size is <b>{{size}}</b>.
						</blockquote>
					</div>
				</div>
			</div>
        </div>
    </div>

        <!-- Our Customer Start -->
        <div class="our-customer section-padd-top30">
            <div class="container-fluid">
            <div class="our-customer-wrapper">
                    <!-- Section Tittle -->
                    <div class="row d-flex justify-content-center">
                        <div class="col-xl-8">
                            <div class="section-tittle text-center">
                                <h2>Keep Shopping <br> with the Size Information</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="customar-active dot-style d-flex dot-style">
                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <a href="{{mf}}"><img src="{% static 'img/mf.png' %}" alt=""></a>
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="{{mf}}">Matches Fashion</a></h4>
                                        <p> Matches Fashion is the modern luxury shopping destination for the confident global fashion customer.
                                            It aims to be the most personal luxury shopping experience in the world. </p>
                                    </div>
                                </div>

                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <a href="{{yoox}}"><img src="{% static 'img/yoox.png' %}" alt=""></a>
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="{{yoox}}">YOOX</a></h4>
                                        <p> Established in 2000, YOOX is the world’s leading online store for fashion, design and art.
                                            Its product includes the world’s most prestigious designers and exclusive collaborations with internationally-renowned artists. </p>
                                    </div>
                                </div>

                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <a href="{{mt}}"><img src="{% static 'img/mt.png' %}" alt=""></a>
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="{{mt}}">Mytheresa</a></h4>
                                        <p>Mytheresa is the finest edit in luxury fashion for women, men and kids. We have over 200 of the best international designers,
                                            600 new arrivals each week, fast and reliable delivery, excellent customer service, utmost security and data protection,
                                            and free returns and exchanges within 30 days.</p>
                                    </div>
                                </div>

                                <div class="single-customer mb-100">
                                    <div class="what-img">
                                        <a href="{{net}}"><img src="{% static 'img/net.png' %}" alt=""></a>
                                    </div>
                                    <div class="what-cap">
                                        <h4><a href="{{net}}">Net-a-Porter</a></h4>
                                        <p>Since its launch in June 2000, NET‑A‑PORTER has been with more than 800 of the world’s most coveted designer brands,
                                            200 specialist beauty brands, and new arrivals on site three times a week. NET‑A‑PORTER is the world's premier luxury fashion destination.</p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
        <!-- Our Customer End -->

    </main>

    <!-- Footer starts -->
    {% include 'footer.html' %}
    <!-- Footer ends -->

   </body>
</html>