<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>App Landing Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">    
                                        <li class="active"><a href="{% url 'home' %}"> Home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'recommend' %}">Find Your Size</a></li>
                                        <li><a href="{% url 'explore' %}">Explore Data</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
        <!-- Slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                {% if request.session.signininfo.id == None %}
                                <div class="hero__caption">
<!--                                    <span data-animation="fadeInUp" data-delay=".4s">App Landing Page</span>-->
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Find Your Size with Fitcha</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">Fitcha is here to help you find your size for your successful online shopping. Just provide your height and weight information then Fitcha will recommend the best size for you.</p>
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                            <a data-animation="fadeInLeft" data-delay="1.0s" href="sign" class="btn radius-btn">SIGN UP</a>
                                            <a data-animation="fadeInLeft" data-delay="1.0s" href="sign#signin" class="btn radius-btn">SIGN IN</a>
                                {% else %}
                                <div class="hero__caption">
<!--                                    <span data-animation="fadeInUp" data-delay=".4s">App Landing Page</span>-->
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Find Your Size with Fitcha</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">Hi, {{request.session.signininfo.name}}! You are almost there to enjoy Fitcha. <br>
                                        Click <b>START</b> to find your size.</p>
                                    <!-- Slider btn -->
                                    <div class="slider-btns">
                                        <!-- Hero-btn -->
                                            <a data-animation="fadeInLeft" data-delay="1.0s" href="{% url 'recommend' %}" class="btn radius-btn">START</a>
                                            <a data-animation="fadeInLeft" data-delay="1.0s" href="{% url 'myinfo' %}" class="btn radius-btn">MY INFO</a>
                                            <a data-animation="fadeInLeft" data-delay="1.0s" href="{% url 'signout' %}" class="btn radius-btn">SIGN OUT</a>
                                        <!-- Video Btn -->
<!--                                        <a data-animation="fadeInRight" data-delay="1.0s" class="popup-video video-btn ani-btn" href="https://www.youtube.com/watch?v=1aP-TXUpNoU"><i class="fas fa-play"></i></a>-->
                                {% endif %}
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay="1s">
                                    <img src="{% static 'assets/img/hero/online_shopping_sized.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <span data-animation="fadeInUp" data-delay=".4s">App Landing Page</span>
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Get things done<br>with Appco</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">Dorem ipsum dolor sitamet, consectetur adipiscing elit, sed do eiusm tempor incididunt ulabore et dolore magna aliqua.</p>
                                    <!-- Slider btn -->
                                   <div class="slider-btns">
                                        <!-- Hero-btn -->
                                        <a data-animation="fadeInLeft" data-delay="1.0s" href="industries.html" class="btn radius-btn">Download</a>
                                        <!-- Video Btn -->
                                        <a data-animation="fadeInRight" data-delay="1.0s" class="popup-video video-btn ani-btn" href="https://www.youtube.com/watch?v=1aP-TXUpNoU"><i class="fas fa-play"></i></a>
                                   </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="hero__img d-none d-lg-block f-right" data-animation="fadeInRight" data-delay="1s">
                                    <img src="{% static 'assets/img/hero/hero_right.png' %}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Area End -->

        <!-- Best Features Start -->
        <section class="best-features-area section-padd4">
            <div class="container">
                <div class="row justify-content-end">
                    <div class="col-xl-8 col-lg-10">
                        <!-- Section Tittle -->
                        <div class="row">
                            <div class="col-lg-10 col-md-10">
                                <div class="section-tittle">
                                    <h2>Great Features of Fitcha</h2>
                                </div>
                            </div>
                        </div>
                        <!-- Section caption -->
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-features mb-70">
                                    <div class="features-icon">
                                        <span class="ti-wand"></span>
                                    </div>
                                    <div class="features-caption">
                                        <h3>Easy to Find Your Size</h3>
                                        <p>Just your age, height and weight required.</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-features mb-70">
                                    <div class="features-icon">
                                        <span class="ti-face-smile"></span>
                                    </div>
                                    <div class="features-caption">
                                        <h3>No Concerns with Security</h3>
                                        <p>We only need your username and physical information. No hassles to join Fitcha.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-features mb-70">
                                    <div class="features-icon">
                                        <span class="ti-list"></span>
                                    </div>
                                    <div class="features-caption">
                                        <h3>Fitcha Keeps Learning with Data</h3>
                                        <p>Are you not satisfied with our recommendation? Please provide the actual data then it learns from there again!</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="single-features mb-70">
                                    <div class="features-icon">
                                        <span class="ti-headphone-alt"></span>
                                    </div>
                                    <div class="features-caption">
                                        <h3>Wide Open for Your Opinion</h3>
                                        <p>Contact is open for whatever issues or queries you've got.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Shape -->
            <div class="features-shpae d-none d-lg-block">
                <img src="{% static 'assets/img/shape/feature.png' %}" style="width:600px; height:500px" alt="">
            </div>
        </section>
        <!-- Best Features End-->

        <!-- Services Area Start -->
        <section class="service-area sky-blue section-padding2">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>How Fitcha Works For You</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <span class="flaticon-businessman"></span>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Machine Learning</a></h4>
                                <p>It finds your size using machine learning model based on your height and weight information. The model was built with hundreds of thousands of size data for best prediction.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption active text-center mb-30">
                            <div class="service-icon">
                                <span class="ti-shopping-cart"></span>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Connect to Shopping Page</a></h4>
                                <p>Once it finds your size, we suggest some famous shopping websites where you can shop with your size. It directs you to the page of your size. How easy!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <span class="ti-wand"></span>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Provide Your Right Size</a></h4>
                                <p>Was your right size different from what we recommended? If you provide the right size, it can improve our service. It also directs you to shopping websites with the size!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area End -->

        <!-- Say Something Start -->
        <div class="say-something-aera pt-90 pb-90 fix">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="offset-xl-1 offset-lg-1 col-xl-5 col-lg-5">
                        <div class="say-something-cap">
                            <h2>Do you have any queries? Please feel free to contact us!</h2>
                            <h3>Fitcha loves to hear from you to make it better.</h3>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3">
                        <div class="say-btn">
                            <a href="{% url 'contact' %}" class="btn radius-btn">Contact</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- shape -->
            <div class="say-shape">
                <img src="{% static 'assets/img/shape/say-shape-left.png' %}" alt="" class="say-shape1 rotateme d-none d-xl-block">
                <img src="{% static 'assets/img/shape/say-shape-right.png' %}" alt="" class="say-shape2 d-none d-lg-block">
            </div>
        </div>
        <!-- Say Something End -->

    </main>

    <!-- Footer starts -->
    {% include 'footer.html' %}
    <!-- Footer ends -->

   </body>
</html>