<!doctype html>
{% load static %}
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>App Landing Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
		<link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-transparrent ">
            <div class="main-header header-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2 col-md-2">
                            <div class="logo">
                                <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10 col-md-10">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">    
                                        <li><a href="{% url 'home' %}"> Home</a></li>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'recommend' %}">Find Your Size</a></li>
                                        <li><a href="{% url 'explore' %}">Explore Data</a></li>
                                        <li><a href="{% url 'contact' %}">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>

    <main>
        <!-- Sign UP Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider slider-height slider-padding sky-blue d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex align-items-center">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Sign Up <br> with Fitcha</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">Just provide simple information of you to enjoy our service. It's quick and easy!</p>
                                </div>
                            </div>


                            <form action="{% url 'signupimpl' %}" method="post">
                                {% csrf_token %}
                                <div class="row d-flex align-items-center">
                                    <div class="mt-10 col-lg-6">
                                        <input type="text" name="id" placeholder="ID*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
                                        class="single-input">
                                    </div>
                                    <div class="mt-10 col-lg-6">
                                        <input type="number" name="age" placeholder="Age*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Age'" required
                                        class="single-input">
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="mt-10 col-lg-6">
                                        <input type="password" name="pwd" placeholder="Password*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                                        class="single-input">
                                    </div>
                                    <div class="mt-10 col-lg-6">
                                        <input type="text" name="ht" placeholder="Height(cm)*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Height'" required
                                        class="single-input">
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="mt-10 col-lg-6">
                                    </div>
                                    <div class="mt-10 col-lg-6">
                                        <p>Height to one decimal point</p>
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="mt-10 col-lg-6">
                                        <input type="text" name="name" placeholder="Username*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'" required
                                        class="single-input">
                                    </div>
                                    <div class="mt-10 col-lg-6">
                                        <input type="number" name="wt" placeholder="Weight(kg)*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Weight'" required
                                        class="single-input">
                                    </div>
                                </div>
                                <div class="row d-flex align-items-center">
                                    <div class="mt-10 col-lg-6"><p>* Mandatory field</p></div>
                                </div>
                                <br>
                                <br>
                                <input type="submit" value="SIGN UP" data-animation="fadeInLeft" data-delay="1.0s" class="btn radius-btn">
                            </form>
                        </div>
                        <!-- Sign Up End -->

                        <div class="row d-flex align-items-center" id="signin">
                            <div>
                                <p></p>
                            </div>
                        </div>

                        <!-- Sign In Start -->
                        <div class="row d-flex align-items-center" style="margin: 70px 0px 0px 0px">
                            <div class="col-lg-6 col-md-9 ">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInUp" data-delay=".6s">Or Sign In</h1>
                                    <p data-animation="fadeInUp" data-delay=".8s">Are you already a member? Just sign in to see our size recommendation!</p>
                                </div>
                            </div>

                            <form action="{% url 'signinimpl' %}" method="post">
                                {% csrf_token %}
                                <div class="row d-flex align-items-center">
                                    <div class="mt-10 col-lg-6">
                                        <input type="text" name="id" placeholder="ID*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required
                                        class="single-input">
                                    </div>
                                    <div class="mt-10 col-lg-6">
                                        <input type="password" name="pwd" placeholder="Password*"
                                        onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required
                                        class="single-input">
                                    </div>
                                </div>
                                <br>
                                <input type="submit" value="SIGN IN" data-animation="fadeInLeft" data-delay="1.0s" class="btn radius-btn">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->


        <!-- Services Area Start -->
        <section class="service-area sky-blue section-padding2">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center">
                            <h2>How Fitcha Works For You</h2>
                        </div>
                    </div>
                </div>
                <!-- Section caption -->
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <span class="flaticon-businessman"></span>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Machine Learning</a></h4>
                                <p>It finds your size using machine learning model based on your height and weight information. The model was built with hundreds of thousands of size data for best prediction.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption active text-center mb-30">
                            <div class="service-icon">
                                <span class="ti-shopping-cart"></span>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Connect to Shopping Page</a></h4>
                                <p>Once it finds your size, we suggest some famous shopping websites where you can shop with your size. It directs you to the page of your size. How easy!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-6">
                        <div class="services-caption text-center mb-30">
                            <div class="service-icon">
                                <span class="ti-wand"></span>
                            </div>
                            <div class="service-cap">
                                <h4><a href="#">Provide Your Right Size</a></h4>
                                <p>Was your right size different from what we recommended? If you provide the right size, it can improve our service. It also directs you to shopping websites with the size!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services Area End -->
    </main>

    <!-- Footer starts -->
    {% include 'footer.html' %}
    <!-- Footer ends -->

   </body>
</html>